@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face 
{
    font-family: 'gta';
    src: url('../police/gta.ttf');
}
.gta
{
    font-family: 'gta', Courier, monospace;
    font-size: 1.5em;
}
body
{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    background-image: url(../images/wallpapers/back.png);
    background-size: 100%;
}
header
{
    width: 100%;
}
/* Barre de navigation */
nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    position: sticky;
    top: 0;
}
nav h1
{
   font-size: 20px; 
}
nav .onglets 
{
    display: flex;
    flex-wrap: wrap;
}
nav .onglets a 
{
    font-size: 17px;
    margin-right: 10px;
    margin-top: 18px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
nav .onglets a:hover
{
    color: rgb(10, 114, 199);
}
nav .onglets p
{
    font-size: 17px;
    margin-right: 10px;
    margin-top: 18px;
    cursor: pointer;
}
nav .onglets input
{
    margin: 8px 20px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #f2f2f2;
}
/*Menu Deroulant*/
.dropdown{
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
}
.dropdown::before
{
    content: '';
    position: absolute;
    top: 23px;
    right: 28px;
    width: 12px;
    height: 2px;
    background: #555;
    z-index: 10;
    transform: rotate(40deg);
    transition: 0.5s;
}
.dropdown.active::before
{
    right: 20px;
}
.dropdown::after
{
    content: '';
    position: absolute;
    top: 23px;
    right: 20px;
    width: 12px;
    height: 2px;
    background: #555;
    z-index: 10;
    transform: rotate(-40deg);
    transition: 0.5s;
}
.dropdown.active::after
{
    right: 28px;
}
.dropdown .option
{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 95%;
    top: 45px;
    background: #fff;
    box-shadow: 0 30px 30px rgba(0,0,0,0.05);
    border-radius: 10px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}
.dropdown.active .option
{
    visibility: visible;
    opacity: 1;
}
.dropdown .option a
{
    padding: 12px 20px;
    cursor: pointer;
    text-decoration: none;
}
.dropdown .option a:hover /*FONCTIONNE PLUS ?????*/ 
{
    background-color: #2b2a2a; 
    color: rgb(10, 114, 199);
}
.bars i{
    padding: 5px;
}
/*Slider*/
/* Fin barre de navigation */
audio
{
    border-radius: 5px;
    color: white;
    padding: 0;
    margin: 0;
}

/* Aside */
aside
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
aside h2 
{
    font-size: 50px;
    max-width: 500px;
    text-align: center;
    color: #fff;
}

aside img
{
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
aside label
{
    display: none;
}


/* Footer */
footer
{
    margin-top: 100px;
    background-color: black;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position:absolute;        
    bottom:0;      
    width:100%;
    opacity: 0.33;
}
footer p
{
    margin-left: 15px;
}
footer .social-media
{
    display: flex;
}
footer .social-media p
{
    margin-right: 15px;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 5px;
    text-align: center;
    width: 20px;
    cursor: pointer;
}
.social-media a:visited
{
    color: #fff;
}
.social-media a:hover
{
    color: rgb(20, 195, 226);
}
/* Fin footer */
.xdebug-var-dump
{
    color: #fff;
}
/* Media queries */
@media screen and (max-width: 600px) 
{
    nav .onglets .link, nav h1
    {
        display: none;
    }
    nav 
    {
        display: flex;
        justify-content: space-evenly;
    }
}
@media screen and (min-width:1000px)
{
    .dropdown
    {
        display: none;
    }
}
/* Fin Media queries */