@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face 
{
    font-family: 'gta';
    src: url('../police/gta.ttf');
}
.gta
{
    font-family: 'gta', Courier, monospace;
    font-size: 1.5em;
}
body
{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0%;
    background-color: #e8e5c4;
}

/* Barre de navigation */
nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    position: sticky;
    top: 0;
}
nav h1
{
   font-size: 20px; 
}
nav .onglets
{
    display: flex;
    flex-wrap: wrap;
}
nav .onglets a
{
    font-size: 17px;
    margin-right: 10px;
    margin-top: 18px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
nav .onglets a:hover
{
    color: rgb(10, 114, 199);
}
nav .onglets p
{
    font-size: 17px;
    margin-right: 10px;
    margin-top: 18px;
    cursor: pointer;
}
nav .onglets input
{
    margin: 8px 20px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #f2f2f2;
}
/* Fin barre de navigation */


/* Header */
header
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header h1
{
    font-size: 50px;
    max-width: 500px;
    text-align: center;
}
header img
{
    padding: 15px 20px;
    border: none;
    width: 4%;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
/* Fin Header */


/* Section principale */
.main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 60px;
}

/* Cards */
.cards
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cards .card
{
    margin-right: 20px;
    cursor: pointer;
}
.cards .card img
{
    width: 230px;
}
.cards .card .card-header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cards .card .card-body p
{
    margin-top: -22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Fin cards */

/* Video */
.main .video
{
    margin-top: 80px;
}
.main .video .iframe
{
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 400px;
}
/* Fin video */
/* Fin section principale */


/* Footer */
footer
{
    margin-top: 100px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}
footer .social-media
{
    display: flex;
}
footer .social-media p
{
    margin-right: 15px;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 5px;
    text-align: center;
    width: 20px;
    cursor: pointer;
}
.social-media a:hover
{
    color: rgb(20, 195, 226);
}
/* Fin footer */


/* Media queries */
@media screen and (max-width: 640px) 
{
    nav .onglets .link, nav h1
    {
        display: none;
    }
    .cards .card
    {
        margin-left: 10px;
    }
    .cards .card img
    {
        width: 300px;
    }
}
/* Fin media queries */